<meta name="viewport" content="width=device-width; initial-scale=1.0;">
<link rel='stylesheet' href='/css/style.css' />
<link rel='stylesheet' href='/media/font-awesome-4.3.0/css/font-awesome.min.css' />

<link rel="canonical" href="http://www.silent.buzz">
<meta property="keywords" content="silent buzz silentbuzz online social media social-media socialmedia"> 
<link rel="icon" href="/media/favicon.ico" type="image/x-icon">

<meta name="description" content="">
<meta property="og:description" content="">

<% if( typeof room == 'undefined' ) {  %>
  <title>Silent</title>
  <meta property="og:title" content="Silent">
  <meta property="og:url" content="http://www.silent.buzz">
  <meta property="og:image" content="/media/bitelabs/facebook_banner.png">

<% } else { %>
  <title>Silent<%= room %></title>
  <meta property="og:title" content="Silent<%= room %>">
  <meta property="og:url" content="http://www.silent.buzz/<%= room %>">
  <meta property="og:image" content="/media/bitelabs/facebook_banner.png">
<% } %>

<!-- COLOR  -->
<style>
  .enter_modal ,
  .share_project_social_icon ,
  .exit_modal,
  .instruction,
  .how_browser_search,
  .main_banner,
  .at_symbol,
  .user_cases,
  .trending,
  footer,
  .users {
    background-color: <%= color %>;
  }

  .how_close,
  .how,
  .create_room_form,
  .trending_room,
  .trending_room a,
  header,
  .invalid_room,
  .user_profile,
  .about,
  .center,
  .share_project_social_icon,
  .share_project_social_label,
  .learn_more .title,
  .exit_button:hover {
    color: <%= color %>;
  }

  .about,
  .user_number,
  .create_room_input,
  .how_browser_circle,
  .how_close,
  .share_container {
    border: 2px solid <%= color %>;
  }

  .how_browser_body {
    border: 1px solid <%= color %>;
  }

  .share_project_link_room {
    border-bottom: 2px solid <%= color %>;
  }

  @media (min-width : 320px ) and (max-width: 480px ) {
    .how_browser_search {
      background-color: <%= color %> !important;
    }
    header, 
    .data_stats {
      border-bottom: 1px solid <%= color %>;
    }
    .exit_modal {
      color: <%= color %>;
    } 
    .exit_button {
      border: 2px solid <%= color %>;
    }
  }

</style>

<!-- Google Analytics -->
<script>
</script>
